*.${DOMAIN}:80 {
        #tls /etc/caddy/${DOMAIN}.crt /etc/caddy/${DOMAIN}.key

        @auth {
                not {
                        host placeholder-httpnoauth.${DOMAIN}
                }
        }

        reverse_proxy {
                to "{http.request.host.labels.2}.lxd:80"
        }
}
