*.${DOMAIN} {

$([[ $ACME_DNS == "selfsigned" ]] || echo "#")        tls internal
$([[ $ACME_DNS != "selfsigned" ]] || echo "#")        tls /etc/caddy/vmtree.crt /etc/caddy/vmtree.key

        @auth {
                not {
                        host placeholder-httpnoauth.${DOMAIN}
                }
        }
        basicauth @auth {
                "${AUTHUSER}" "$(echo "$AUTHPASS" | caddy hash-password)"
        }

        # Export a different HTTP port on a different subdomain, to use with vscode or similar.
        #@code header_regexp domain Host "^code-([-a-z0-9]+)\."
        #reverse_proxy @code to "{re.domain.1}.${LOCAL}:1337"

        reverse_proxy {
                to "{http.request.host.labels.$(echo ${DOMAIN//[!.]/} | wc -c)}.${LOCAL}:80"
        }
}
${caddyfile_local:-}
