*.${DOMAIN} {

$([[ $ACME_DNS == "selfsigned" ]] || echo "#")        tls internal
$([[ $ACME_DNS != "selfsigned" ]] || echo "#")        tls /etc/caddy/vmtree.crt /etc/caddy/vmtree.key

        @auth {
                not {
                        host placeholder-httpnoauth.${DOMAIN}
                }
        }
        basicauth @auth {
                "${AUTHUSER}" "$(echo "$AUTHPASS" | caddy hash-password)"
        }

        reverse_proxy {
                to "{http.request.host.labels.2}.lxd:80"
        }
}
